AUTH_DB_HOST=nombre_servicio_db_autenticacion_aqui
AUTH_DB_USER=nombre_suaurio_bd
AUTH_DB_PASSWORD=tu_password_aqui
AUTH_DB_NAME=nombre_bd_de_aqui

AUTH_MYSQL_ROOT_PASSWORD=tu_password_root_aqui
AUTH_MYSQL_DATABASE=usuarios_db_aqui


# BASE DE DATOS  SERVICIO CITAS xd

CITA_DB_HOST=nombre_servicio_db_citas_aqui
CITA_DB_USER=nombre_usuario_bd
CITA_DB_PASSWORD=tu_password_aqui
CITA_DB_NAME=nombre_bd_de_citas

CITA_MYSQL_ROOT_PASSWORD=tu_password_root_aqui
CITA_MYSQL_DATABASE=nombre_bd_de_citas
